<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.demo_ps08611_asm_androidcoban">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".Activity.TheLoaiDetailActivity">

        </activity>
        <activity android:name=".Activity.ChangePassActivity">

        </activity>
        <activity android:name=".Activity.Chitiet">

        </activity>
        <activity android:name=".Activity.dangki">

        </activity>
        <activity android:name=".Activity.HoaDonChiTietActivity">

        </activity>
        <activity android:name=".Activity.HoaDonDetailActivity">

        </activity>
        <activity android:name=".Activity.Home">

        </activity>
        <activity android:name=".Activity.ListBanChayActivity">

        </activity>
        <activity android:name=".Activity.ListHoaDonActivity">

        </activity>
        <activity android:name=".Activity.ListNguoiDungActivity">

        </activity>
        <activity android:name=".Activity.ListSachActivity">

        </activity>
        <activity android:name=".Activity.ListTheLoaiActivity">

        </activity>
        <activity android:name=".Activity.ListThongKeActivity">

        </activity>
        <activity android:name=".Activity.Login">

        </activity>
        <activity android:name=".Activity.NguoiDungDetailActivity">

        </activity>
        <activity android:name=".Activity.SachDetailActivity">

        </activity>
        <activity android:name=".Activity.Splash_Srceen_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.TheLoaiActivity">

        </activity>
        <activity android:name=".Activity.ThemHoaDonActivity">

        </activity>
        <activity android:name=".Activity.ThemNguoiDungActivity">

        </activity>
        <activity android:name=".Activity.ThemSachActivity">

        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

    <dist:module dist:instant="true" />

</manifest>